@import url(https://fonts.googleapis.com/css?family=Roboto);
:root
{
  --color-accent: #73ffe8;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #00b4ff;
  overflow-x: hidden;
}


#wrapper {
  margin: 2% 0;
}

.icon {
  width: 100px;
  height: 50px;
  background: red;
  border-radius: 100px 100px 0 0;
}

h1 {
  transform: rotate(90deg);
  position: absolute;
  top: 20px;
  letter-spacing: 0.12em;
  font-size: 3em;
  right: -330px;
  white-space: nowrap;
  transform-origin: 0 0;
  color: var(--color-accent);
  pointer-events: none;
}

.title {
  mix-blend-mode: exclusion;

}